<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="\image\JQZ Events3.png" alt="JQZ Logo">
    <h1 class="index-h1">Start planning awesome events with a few clicks</h1>
</div>
<div class="container text-center">
    <img class="demo" src="\image\Screenshot1.png" alt="">
    <img class="demo" src="\image\Screenshot2.png" alt="">
</div>