@{
    ViewData["Title"] = "Dashboard";
}
<a href="/dashboard">Dashboard</a>
<a href="/event/new">Event Form</a>
<a href="/event/1">Single event page</a>
<a href="/invitation">Invitation View</a>
<a href="/">Login/Reg</a>

<h1>THIS IS THE DASHBOARD</h1>
<p>
    (your created events, upcoming events you RSVPd to)
</p>