  
@{
    ViewData["Title"] = "Event Page";
}

<a href="/dashboard">Dashboard</a>
<a href="/event/new">Event Form</a>
<a href="/event/1">Single event page</a>
<a href="/invitation/1">Invitation View</a>
<a href="/registration">Login/Reg</a>

<h1>This will show a single event</h1>

