@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">JQZ EVENTS</h1>
</div>

<a href="/dashboard">Dashboard</a>
<a href="/event/new">Event Form</a>
<a href="/event/1">Single event page</a>
<a href="/invitation/1">Invitation View</a>
<a href="/">Login/Reg</a>
<div class="container text-right">
    <h1>Start planning awesome events with a few clicks</h1>
</div>