@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">JQZ EVENTS</h1>
    <h1>Start planning awesome events with a few clicks</h1>
</div>

<div class="container text-right">
    <a href="/login"><button class="btn btn-primary">Login</button></a>
    <a href="/register"><button class="btn btn-primary">Register</button></a>
</div>