@{
    ViewData["Title"] = "New Event";
}
@model Event

<h1>Create a new event!</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <form action="/event/create" method="post">
                <div class='form-group'>
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" placeholder="Enter the name of your event">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class='form-group'>
                    <label asp-for="Location"></label>
                    <input class="form-control" asp-for="Location" placeholder="Please enter a valid location">
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class='form-group'>
                    <label asp-for="ScheduledAt">Date</label>
                    <input class="form-control" asp-for="ScheduledAt">
                    <span asp-validation-for="ScheduledAt" class="text-danger"></span>
                </div>
                <div class='form-group'>
                    <label asp-for="Duration">Duration (in hours)</label>
                    <input class="form-control" asp-for="Duration" placeholder="Enter the event duration">
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Enter Event!</button>
            </form>
        </div>
        <div class="col-4">
            @{
                <h2>Suggested Dates</h2>
                foreach (var date in ViewBag.BestDates)
                {
                    <p>@date.Key.ToString("MM/dd/yyyy") - @date.Value available</p>
                }
            }
        </div>
    </div>
</div>