@{
    ViewData["Title"] = "New Event";
}
<a href="/dashboard">Dashboard</a>
<a href="/event/new">Event Form</a>
<a href="/event/1">Single event page</a>
<a href="/invitation/1">Invitation View</a>
<a href="/">Login/Reg</a>


<h1>THIS WILL SHOW A FORM FOR NEW EVENTS</h1>