/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --primary: #04202C;
  --secondary: #304040;
  --third: #5B7065;
  --fourth: #C9D1C8;
}

header {
  background-color: var(--secondary);
  color: var(--fourth);
}

body {
  background-color: var(--primary);
  color: var(--fourth);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--fourth);
}

.btn-primary {
  color: var(--fourth);
  background-color: var(--third);
  border-color: var(--third);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--fourth);
  background-color: var(--third);
  border-color: var(--third);
}

.login-reg-btns {
  margin: auto 0 auto auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--fourth);
}
.border-bottom {
  border-bottom: 1px solid var(--fourth);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
