/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --primary: #04202C;
  --secondary: #304040;
  --third: #5B7065;
  --fourth: #C9D1C8;
}

header {
  background-color: var(--secondary);
  color: var(--fourth);
}

body {
  background-color: var(--primary);
  color: var(--fourth);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--fourth);
}

.btn-primary {
  color: var(--fourth);
  background-color: var(--third);
  border-color: var(--third);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--fourth);
  background-color: var(--third);
  border-color: var(--third);
}

.login-reg-btns {
  margin: auto 0 auto auto;
}


/* ------------------------------------------------------------------- */
/* Sticky footer styles */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--fourth);
}
.border-bottom {
  border-bottom: 1px solid var(--fourth);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* ------------------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

.container-layout {
  margin-left: 15%;
  margin-right: 15%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer-container {
  text-align: center;
}

/* ------------------------------------------------------------------- */
/* Login/Reg CSS */

.login-group {
  max-width: 400px;
  margin: 200px auto auto;
  padding: 50px;
  background-color: var(--secondary);
  border-radius: .5rem;
}

.login-group h2 {
  text-align: center;
}

.input-icons i {
  position: absolute;
}

.input-icons { 
  width: 100%; 
  margin-bottom: 10px; 
}

.icon { 
  padding: 10px; 
  min-width: 40px;
  color: var(--primary);
}

.login-group input {
  width: 100%; 
  padding: 10px;
  text-align: center; 
}

::placeholder {
  text-align: end;
}

.registration-group {
  max-width: 400px;
  margin: 200px auto auto;
  padding: 50px;
  background-color: var(--secondary);
  border-radius: .5rem;
}

.registration-group h2 {
  text-align: center;
}

.registration-group input {
  width: 100%; 
  padding: 10px;
  text-align: center; 
}

.fa.fa-check.icon {
  color: var(--fourth);
}

.index-h1 {
  font-family: 'Sigmar One', cursive;
}

img {
  width: 30rem;
}
.demo {
  width: 45%;
  margin: 20px auto;
}
/* ------------------------------------------------------------------- */
/* SideNav Bar CSS */

*,
:before,
:after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}

.header {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  background: var(--secondary);
}

.logo {
  font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.logo a {
  display: block;
  padding: 1em 0;
  color: var(--fourth);
  text-decoration: none;
  transition: 0.15s linear color;
}
.logo a:hover {
  color: var(--fourth);
}
.logo a:hover span {
  color: var(--primary);
}
.logo span {
  font-weight: 700;
  transition: 0.15s linear color;
}

.main-nav ul {
  border-top: solid 1px var(--third);
}
.main-nav li {
  border-bottom: solid 1px var(--third);
}
.main-nav a {
  padding: 1.1em 0;
  color: var(--fourth);
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
}
.main-nav a:hover {
  color: var(--fourth);
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: 0.35s ease color;
}
.list-hover-slide a:before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px var(--primary);
  background: var(--third);
  transition: 0.35s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}

/* ------------------------------------------------------------------- */
/* Dashboard */

table.mt-5 {
  background-color: var(--secondary);
}

.event-headers {
  color: var(--fourth);
}

.table {
  color: var(--fourth);
}

.day {
  background-color: var(--fourth);
  color: var(--primary);
  max-height: 10rem;
  min-height: 7rem;
}

table .nextmonth, table .lastmonth {
  background-color: var(--third);
  color: var(--fourth);
  max-height: 10rem;
  min-height: 7rem;
}

.cal-headers {
  background-color: var(--secondary);
}